@import "variables";
@import "normalize";
@import "fonts";
@import "mixins";
@import "rouge-Minimal-Mistakes.scss";
@import "colorspaces.scss";

body {
	padding: 0px 0 20px 0px;
	margin: 0px;
	font: 16px/1.5 $body-fonts;
	color: $foreground;
	font-weight: normal;
	background: $background;
	background-attachment: fixed !important;
	background: linear_gradient($background, lighten($background, 20%));
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $heading-fonts;
	color: $cyan;
	margin: 0 0 10px;
	font-weight: normal;
}

p,
ul,
ol,
table,
pre,
dl {
	margin: 0 0 20px;
}

h1,
h2,
h3 {
	line-height: 1.1;
}

h1 {
	color: $green;
	font-size: 48px;
	line-height: 52px;
}

h2 {
	font-size: 32px;
	line-height: 36px;
}

h3 {
	font-size: 24px;
	line-height: 28px;

    span {
        font-size: 16px;
        color: $foreground;
    }
}

h4,
h5,
h6 {
	font-family: $body-fonts;
	color: $yellow;
	font-weight: 600;
}

h4 {
	font-size: 18px;
	line-height: 21px;
}

h5,
h6 {
	font-size: 16px;
	line-height: 18px;
}

h6 {
	font-weight: 400;
}

a {
	color: $green;
	font-weight: 400;
	text-decoration: none;

	&:hover {
		color: darken($green, 20%);
	}

	small {
		display: inline;
	}
}

small {
	font-size: 11px;
	color: $comment;
	margin-top: -0.6em;
	display: block;
}

ul {
	list-style-image: url("../images/bullet.png");
}

strong {
	font-weight: 600;
}

.wrapper {
	max-width: 950px;
	margin: 0 auto;
	position: relative;
	padding: 0 20px;
	padding-top: 90px;
}

section img {
	max-width: 100%;
}

blockquote {
	border-left: 3px solid $green;
	margin: 0;
	padding: 0 0 0 20px;
	font-style: italic;
}

code {
	font-family: $mono-fonts;
	color: $foreground;
	background: $current;
	font-size: 13px;
	margin: 0 4px;
	padding: 4px 6px;
}

pre {
	padding: 8px 15px;
	background: $current;
	border: 1px solid $purple;
	overflow: auto;
	overflow-y: hidden;

	code {
		color: $foreground;
		background: $current;
		margin: 0;
		padding: 0;
	}
}

table {
	border-collapse: collapse;
}

th {
	text-align: center;
	padding: 10px;
	background: $selection;
	color: $foreground;
	border: 1px solid $bright_pink;
	font-weight: 600;
}

td {
	text-align: center;
	padding: 5px 10px;
	border: 1px solid $bright_pink;
	img {
		border: 1px solid $foreground;
	}
}

hr {
	border: 0;
	outline: none;
	height: 3px;
	margin: 0 0 20px;
	background: $green;
}

dt {
	color: $yellow;
	font-weight: 600;
}

button,
a.button {
	color: $background;
	border: 2px solid $cyan;
	background: $cyan;
	padding: 10px 12px;
	margin-top: 6px;
	line-height: 14px;
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	&:hover {
		background: $comment;
		color: $foreground;
		border-color: $comment;
	}
}

/* Dropdown Button */
.palette {
	color: $foreground;
	border: 1px solid $cyan;
	background: $background;
	font-size: 16px;
	cursor: pointer;
	min-width: 160px;
	text-align: left;
	.right {
		float: right;
	}
}

/* Dropdown button on hover & focus */
.palette:hover,
.palette:focus {
	background-color: $background;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
	padding-bottom: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: $faded;
	min-width: 160px;
	z-index: 1;
	a.selected {
		background: $current;
	}
}

/* Links inside the dropdown */
.dropdown-content a {
	color: $background;
	padding: 8px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
	color: $foreground;
	background: $background;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
	display: block;
}

.hide {
	display: none;
}

input[type="color"] {
	width: 90px;
	height: 30px;
	border: none;
	background: none;
}

#header {
	z-index: 100;
	left: 0;
	top: 0px;
	height: 60px;
	width: 100%;
	position: fixed;
	background: $current;
	border-bottom: 4px solid $cyan;

	nav {
		max-width: 950px;
		margin: 0 auto;
		padding: 0 10px;
		margin: 6px auto;

		li {
			font-weight: 400;
			list-style: none;
			display: inline;
			color: $foreground;
			line-height: 50px;
			font-size: 14px;

			a {
				color: $foreground;
				border: 1px solid $cyan;
				background: none;
				padding: 10px 12px;
				margin-top: 6px;
				line-height: 14px;
				font-size: 14px;
				display: inline-block;
				text-align: center;

				&:hover {
					background-color: $comment;
					border: 1px solid $comment;
				}
			}

			&.home {
				float: left;
				margin-left: 6px;
			}

			&.fork {
				float: left;
				margin-left: 6px;
			}

			&.downloads {
				float: right;
				margin-left: 6px;
			}

			&.title {
				color: $foreground;
				float: right;
				margin-right: 10px;
				font-size: 11px;
			}

			&.about {
				float: right;
				margin-right: 6px;
			}

			&.blog {
				float: right;
				margin-right: 6px;
			}

			&.contribute {
				float: right;
				margin-right: 6px;
			}

			&.toggle {
				display: none;
				float: right;
				margin-right: 6px;
			}
		}
	}
}

section {
	max-width: 950px;
	&.no-header {
		margin-top: 0;
	}
	#title {
		border: 0;
		outline: none;
		text-align: center;
		img {
			max-width: 200px;
			padding-bottom: 32px;
		}
		h1 {
			line-height: 40px;
		}

		p {
			color: $foreground;
			font-weight: 400;
			font-size: 24px;
		}
	}

	#content {
		border: 0;
		outline: none;
		text-align: center;
		img {
			max-width: 800px;
			padding-bottom: 32px;
		}
		h1 {
			line-height: 40px;
		}

		p {
			color: $foreground;
			font-weight: 400;
			font-size: 24px;
		}
	}
	#footer {
		hr {
			margin-top: 30px;
		}
		.credits {
			font-size: 11px;
			font-weight: normal;
			color: $comment;
			margin-top: -10px;

			&.left {
				float: left;
			}

			&.right {
				float: right;
			}
		}
	}
}

.listings-category {
	text-align: center;
	padding-bottom: 105px;
	.title {
		margin-bottom: 26px;
		transform: rotate(-5deg);
	}
	&:nth-child(2n) {
		.title {
			transform: rotate(5deg);
		}
	}
	&:nth-child(6n + 1) {
		.title {
			color: $cyan;
		}
	}
	&:nth-child(6n + 2) {
		.title {
			color: $orange;
		}
	}
	&:nth-child(6n + 3) {
		.title {
			color: $purple;
		}
	}
	&:nth-child(6n + 4) {
		.title {
			color: $red;
		}
	}
	&:nth-child(6n + 5) {
		.title {
			color: $pink;
		}
	}
	.listing {
		width: 32%;
		display: inline-block;
		box-sizing: border-box;
		padding: 0 55px;
		margin-bottom: 32px;
		vertical-align: text-top;
		&:nth-child(3n + 2) {
			@include clear();
		}
		a {
			display: block;
			h3 {
				color: $faded;
				margin-top: 8px;
			}
		}
	}
	@include clearfix();
}
table.contribute {
	width: 100%;
}

@media print, screen and (max-width: 720px) {
	#title {
		.credits {
			display: block;
			width: 100%;
			line-height: 30px;
			text-align: center;

			.left {
				float: none;
				display: block;
			}

			.right {
				float: none;
				display: block;
			}
		}
	}

	.listings-category {
		.listing {
			width: 49%;
		}
	}
}

@media print, screen and (max-width: 480px) {
	#header {
		margin-top: -5px;

		nav {
			#toggleMenu {
				display: none;
				width: 100%;
				margin-top: 8px;
				background: $background;
			}
			li {
				&.home {
					display: block;
				}

				&.fork {
					display: block;
				}

				&.downloads {
					display: block;
					float: none;
					margin-left: 0;

					a {
						width: 100%;
						padding: 10px 0;
					}
				}

				&.title {
					display: none;
				}

				&.about {
					display: block;
					float: none;
					margin-left: 0;

					a {
						width: 100%;
						padding: 10px 0;
					}
				}

				&.blog {
					display: block;
					float: none;
					margin-left: 0;

					a {
						width: 100%;
						padding: 10px 0;
					}
				}

				&.contribute {
					display: block;
					float: none;
					margin-left: 0;

					a {
						width: 100%;
						padding: 10px 0;
					}
				}

				&.toggle {
					display: block;
				}
			}
		}
	}

	section {
		margin-top: 40px;
		#footer {
			span {
				display: grid;
			}
		}
	}

	.listings-category {
		.listing {
			width: 100%;
		}
	}
}
