/*
   manual created based on the Minimal-Mistakes colours
*/

.highlight table td {
	padding: 5px;
}
.highlight table pre {
	margin: 0;
}
.highlight,
.highlight .w {
	color: #e5e9f0;
}
.highlight .err {
	color: #283036;
	background-color: #ff59f9;
}
.highlight .c,
.highlight .cd,
.highlight .cm,
.highlight .c1,
.highlight .cs {
	color: #434c5e;
}
.highlight .cp {
	color: #59ff59;
}
.highlight .nt {
	color: #59ff59;
}
.highlight .o,
.highlight .ow {
	color: #e5e9f0;
}
.highlight .p,
.highlight .pi {
	color: #e5e9f0;
}
.highlight .gi {
	color: #ffff59;
}
.highlight .gd {
	color: #ff59f9;
}
.highlight .gh {
	color: #59fff9;
	font-weight: bold;
}
.highlight .k,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kv {
	color: #9059ff;
}
.highlight .kc {
	color: #ff9c59;
}
.highlight .kt {
	color: #ff9c59;
}
.highlight .kd {
	color: #ff9c59;
}
.highlight .s,
.highlight .sb,
.highlight .sc,
.highlight .sd,
.highlight .s2,
.highlight .sh,
.highlight .sx,
.highlight .s1 {
	color: #ffff59;
}
.highlight .sr {
	color: #59fff9;
}
.highlight .si {
	color: #ff5959;
}
.highlight .se {
	color: #ff5959;
}
.highlight .nn {
	color: #59ff59;
}
.highlight .nc {
	color: #59ff59;
}
.highlight .no {
	color: #59ff59;
}
.highlight .na {
	color: #59fff9;
}
.highlight .m,
.highlight .mf,
.highlight .mh,
.highlight .mi,
.highlight .il,
.highlight .mo,
.highlight .mb,
.highlight .mx {
	color: #ffff59;
}
.highlight .ss {
	color: #ffff59;
}
