// Variables based on Minimal-Mistakes colorspace

$background: #283036;
$current: #46545e;
$selection: #46545e;
$foreground: #e5e9f0;
$comment: #81a0c1;
$faded: #e5e9f0;
$cyan: #59fff9;
$green: #59ff59;
$orange: #ff9c59;
$pink: #ff59f9;
$purple: #9059ff;
$red: #ff5959;
$yellow: #ffff59;

$bright_cyan: #a6fffc;
$bright_green: #a6ffa6;
$bright_orange: #ffc9a6;
$bright_pink: #ffa6fc;
$bright_purple: #c5a6ff;
$bright_red: #ffa6a6;
$bright_yellow: #ffffa6;

// Font stacks
$body-fonts: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
$heading-fonts: "Noto Serif", "Inconsolata", "Times New Roman", Times, serif;
$mono-fonts: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal,
	monospace;
