$darkest-color: map-get($all-colors, "slategray-darkest");
$dark-color: map-get($all-colors, "slategray-darker");
$light-color: map-get($all-colors, "slategray-lighter");
$lightest-color: map-get($all-colors, "slategray-lightest");
$primary-color: map-get($all-colors, "cyan");