$base-colors: (
	"black": #000000,
	"white": #ffffff,
	"transparent": transparent,
);

$cool-colors: (
	//blue
	"blue-lightest": #9999ff,
	"blue-lighter": #6666ff,
	"blue-light": #3333ff,
	"blue": #0000ff,
	"blue-dark": #0000cc,
	"blue-darker": #000099,
	"blue-darkest": #000066,
	// cyan
	"cyan-lightest": #f2ffff,
	"cyan-lighter": #bffffd,
	"cyan-light": #8cfffb,
	"cyan": #59fff9,
	"cyan-dark": #26fff7,
	"cyan-darker": #00f2e9,
	"cyan-darkest": #00bfb8,
	// indigo
	"indigo-lightest": #b44fff,
	"indigo-lighter": #9e1cff,
	"indigo-light": #8500e8,
	"indigo": #6800b5,
	"indigo-dark": #4b0082,
	"indigo-darker": #2d004f,
	"indigo-darkest": #10001c,
	// purple
	"purple-lightest": #ffb3ff,
	"purple-lighter": #ff80ff,
	"purple-light": #ff4dff,
	"purple": #ff1aff,
	"purple-dark": #e600e6,
	"purple-darker": #b300b3,
	"purple-darkest": #800080,
	// pink
	"pink-lightest": #fff2ff,
	"pink-lighter": #ffbffd,
	"pink-light": #ff8cfb,
	"pink": #ff59f9,
	"pink-dark": #ff26f7,
	"pink-darker": #f200e9,
	"pink-darkest": #bf00b8,
	// red
	"red-lighter": #ffbfbf,
	"red-light": #ff8c8c,
	"red": #ff5959,
	"red-dark": #ff2626,
	"red-darker": #f20000,
	"red-darkest": #bf0000,
	// orange
	"orange-lighter": #ffd9bf,
	"orange-light": #ffba8c,
	"orange": #ff9c59,
	"orange-dark": #ff7e26,
	"orange-darker": #f26200,
	"orange-darkest": #bf4d00,
	// peach
	"peach-lightest": #fff5ec,
	"peach-lighter": #ffdab9,
	"peach-light": #ffbf86,
	"peach": #ffa453,
	"peach-dark": #ff8920,
	"peach-darker": #ec6f00,
	"peach-darkest": #b95700,
	// yellow
	"yellow-lightest": #fffff2,
	"yellow-lighter": #ffffbf,
	"yellow-light": #ffff8c,
	"yellow": #ffff59,
	"yellow-dark": #ffff26,
	"yellow-darker": #f2f200,
	"yellow-darkest": #bfbf00,
	// pear
	"pear-lightest": #e7f095,
	"pear-lighter": #ddea68,
	"pear-light": #d4e43b,
	"pear": #becf1d,
	"pear-dark": #95a217,
	"pear-darker": #6c7610,
	"pear-darkest": #43490a,
	// green
	"green-lightest": #f2fff2,
	"green-lighter": #bfffbf,
	"green-light": #8cff8c,
	"green": #59ff59,
	"green-dark": #26ff26,
	"green-darker": #00f200,
	"green-darkest": #00bf00,
	// mint
	"mint-lightest": #b7f2d8,
	"mint-lighter": #8ceac1,
	"mint-light": #60e3a9,
	"mint": #35db92,
	"mint-dark": #21bc78,
	"mint-darker": #1a905c,
	"mint-darkest": #126541,
	// teal
	"teal-lightest": #afdce2,
	"teal-lighter": #8accd4,
	"teal-light": #64bcc7,
	"teal": #42a9b6,
	"teal-dark": #348691,
	"teal-darker": #27636b,
	"teal-darkest": #194146,
	// wine
	"wine-lightest": #ddacb2,
	"wine-lighter": #ce8890,
	"wine-light": #bf646f,
	"wine": #aa4652,
	"wine-dark": #863741,
	"wine-darker": #62282f,
	"wine-darkest": #3e191e,
	// brown
	"brown-lightest": #cfbfbb,
	"brown-lighter": #baa49d,
	"brown-light": #a5887f,
	"brown": #8d6d64,
	"brown-dark": #6f564f,
	"brown-darker": #513f3a,
	"brown-darkest": #332825,
	// almond
	"almond-lightest": #e9d2bb,
	"almond-lighter": #ddb994,
	"almond-light": #d09f6e,
	"almond": #c48647,
	"almond-dark": #a46c34,
	"almond-darker": #7d5328,
	"almond-darkest": #56391c,
	// steelblue
	"steelblue-lightest": #b2cce1,
	"steelblue-lighter": #8db3d3,
	"steelblue-light": #699bc4,
	"steelblue": #4682b4,
	"steelblue-dark": #38678f,
	"steelblue-darker": #294d6b,
	"steelblue-darkest": #1b3246,
	// slategray
	"slategray-lightest": #c6cdd3,
	"slategray-lighter": #a9b3bd,
	"slategray-light": #8d9aa6,
	"slategray": #708090,
	"slategray-dark": #5a6773,
	"slategray-darker": #434d57,
	"slategray-darkest": #2d343a,
	// gray colors
	"gray-lightest": #cdcdcd,
	"gray-lighter": #b3b3b3,
	"gray-light": #9a9a9a,
	"gray": #808080,
	"gray-dark": #676767,
	"gray-darker": #4d4d4d,
	"gray-darkest": #343434
) !default;

$all-colors: map-merge($base-colors, $cool-colors);

$gradient-colors: ("blue", "cyan", "indigo", "gray", "peach", "purple", "pink", "red", "orange", "yellow", "pear", "green", "mint", "teal", "slategray", "brown", "wine", "almond") !default;
$shadow-colors: ("blue", "cyan", "indigo", "gray", "peach", "purple", "pink", "red", "orange", "yellow", "pear", "green", "mint", "teal", "slategray", "brown", "wine", "almond") !default;
