<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body class="{{ page.colorspace }}">
      {% if site.show_header %}
        <div id="header">
          <nav>
            <li class="fork"><a href="{{ site.github.repository_url }}">View On GitHub</a></li>
            {% if site.show_downloads %}
              <li class="downloads"><a href="{{ site.github.zip_url }}">ZIP</a></li>
              <li class="downloads"><a href="{{ site.github.tar_url }}">TAR</a></li>
              <li class="title">DOWNLOADS</li>
            {% endif %}
          </nav>
        </div><!-- end header -->
      {% endif %}

    <div class="wrapper">
      {% if site.show_header %}<section>
      {% else %}<section class="no-header">{% endif %}
        <div id="title">
          {% if page.icon %}
            <img src="{{ page.icon | relative_url }}" />
          {% endif %}
          <h1><a href="/">{{ site.title | default: site.github.repository_name }}</a></h1>
          <p>{{ site.description | default: site.github.project_tagline }}</p>
          <hr>
        </div>

        {{ content }}

        <div id="footer">
          <hr />
          <div id="copyright">
            <span class="credits left">Copyright &copy; April 2020 - <span id="ccdate"></span> <a href='https://github.com/TheCynicalTeam' rel='publisher'>TheCynicalTeam</a>, Mr Wayne Wesley. All rights reserved worldwide.</span>
            <span class="credits right">Any trademarks, service marks, product names or named features are used only for reference with permission and assumed to be the property of their respective owners.</span>
          </div>
        </div>
      </section>
      <script>
        var d = new Date();
        var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
        document.getElementById("ccdate").innerHTML = months[d.getMonth()] + " " + d.getFullYear(); 
      </script>

    </div>
  </body>
</html>
