// Colors
//
$theme: #6272a4;
$text: #f8f8f2;
$light-grey: #282a36;
$dark-grey: #44475a;
$highlight-grey: $theme;
$midnightblue: $dark-grey;

// Fonts
//
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

$fonts: "Roboto", "Arial", sans-serif;
$code-fonts: "Fira Code", "Consolas", monospace, sans-serif;

// Mixins
//
@mixin dimmed {
  opacity: 0.6;
}

@mixin aTag {
  a {
    word-wrap: break-word;
    border: none;
    box-shadow: inset 0 -2px 0 $theme;
    transition-property: box-shadow;
    transition-duration: 0.1s;

    &:hover {
      box-shadow: inset 0 -1em 0 $theme;
    }
  }
}
